<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name="viewport content="width="device-width", initial-scale="1.0">
    <title>{{title}}</title>
    {% load static %}
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
</head>
<body>
    <h1>{{data}}</h1>
    <h2>Statistic</h2>
    {% if seasons %}
        <ul>
        {% for i in seasons %}
            <li>{{i}}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No Data</p>
    {% endif %}
    <h2>Guest List</h2>
    {% if persons %}
    <table border="1">
    {% for p in persons %}
        <tr>
            <td>{{p.name}}</td>
            <td>{{p.phone}}</td>
            <td>{{p.age}}</td>
        </tr>
    {% endfor %}
    </table>
    {% else %}
        <p>No Data</p>
    {% endif %}
    <img src="{% static 'images/py-django.png' %}" alt="python/django">
    <p>It's<span class="info">{{now}}</span></p>
</body>
</html>